<div class="post-detail">
    <div class="title">
        <h3>Post Detail</h3>
    </div>

    <mat-spinner [diameter]="60" *ngIf="!post?.id" color="primary"></mat-spinner>


    <ng-container *ngIf=" post?.id">
        <div class="items">
            <div class="item">
                <div class="key">ID:</div>
                <div class="value">{{post.id}}</div>
            </div>
            <div class="item">
                <div class="key">Title:</div>
                <div class="value">{{post.title}}</div>
            </div>
            <div class="item">
                <div class="key">Author:</div>
                <div class="value">{{post.author}}</div>
            </div>
        </div>
        <div class="items body">
            <div class="item">
                <div class="key">body:</div>
                <div class="value">{{post.body}}</div>
            </div>
        </div>
    </ng-container>
</div>